# Carpeta node_modules generada por npm
node_modules/

# Archivo .env que contiene variables de entorno sensibles
.env

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro y archivos temporales
logs/
*.log
npm-debug.log*

# Carpeta build generada por herramientas de construcción
build/

# Dependiendo de tu editor, puedes incluir archivos de configuración de editor, por ejemplo, para Visual Studio Code
.vscode/
